.mobile {
  grid-area: mobile;
}
.desktop {
  grid-area: desktop;
}
.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "mobile",
    "desktop";
}
@media (min-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "mobile desktop";
  }