.header{
	margin: 0px;
	padding-top: 0;
}
i{
	text-decoration: none;
	color: black
}
.pagetitle {
	text-align: center;
	color: black;
	font-family: "Georgia";
	font-size: 83px;
	margin: 0 auto;
	padding-top: 8px;
	padding-bottom: 18px;
}
body {
	margin: 0;
}

.owl-carousel {
	margin: 0;
}

.footer {
	background: rgb(255, 255, 255);
	position: absolute;
	bottom: 0.5%;
	right: 0%;
	padding-left: 25px;
	padding-right: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-user-select: none;        
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none;
}


p {


    font-family: Georgia, 'Times New Roman', Times, serif;

    color: rgb(0, 0, 0);
}

/* Preloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
  }
  
  #status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
  }
#infoText {
    display: none;

}
#bottomText {
    display: block;

}